<div class="web-component">
  <div class="portfolio-text">
    <h1 class="port-text">PORT</h1>
    <h1 class="folio-text">FOLIO<span class="green-dot">.</span></h1>
  </div>
  <div class="buttons-container">
    <div class="button-wrapper">
      <button class="nav-button">R</button>
    </div>
    <div class="button-wrapper">
      <button class="nav-button">L</button>
    </div>
    <div class="button-wrapper">
      <button class="nav-button">T</button>
    </div>
    <div class="button-wrapper">
      <button class="nav-button">I</button>
    </div>
  </div>
</div>