<div class="container">
  <section id="section1" class="web-component">
    <div class="portfolio-text">
      <h1 class="port-text">PORT</h1>
      <h1 class="folio-text">FOLIO<span class="green-dot">.</span></h1>
    </div>
    <div class="buttons-container">
      <div class="button-wrapper">
        <button class="nav-button">R</button>
      </div>
      <div class="button-wrapper">
        <button class="nav-button">L</button>
      </div>
      <div class="button-wrapper">
        <button class="nav-button">T</button>
      </div>
      <div class="button-wrapper">
        <button class="nav-button">I</button>
      </div>
    </div>
  </section>
  
<section id="section2" class="second-section">
  <div class="content-container">
    <div class="image-container">
      <div class="image-placeholder"></div>
    </div>
    <div class="text-container">
      <h2 class="greeting-text">Hi, I'm Christian</h2>
      <p class="lorem-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. 
        Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus 
        ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum 
        non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis 
        porttitor posuere. Praesent id metus massa, ut blandit odio.
      </p>

      <!-- Botón debajo del texto -->
      <a href="./assets/Christian_Portfolio.pdf" class="btn-download" download>
        Descargar Currículum
      </a>
    </div>
  </div>
</section>

</div>